pipeline/APPEND_VAR_API_BLOB_API.json
{
	"name": "APPEND_VAR_API_BLOB_API",
	"properties": {
		"activities": [
			{
				"name": "Employee API",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://hub.dummyapis.com/employee?noofRecords=10&idStarts=1001",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Collecting Ids",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Employee API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('Employee API').output.Response)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable -List Of Ids",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ListOfIds",
								"value": {
									"value": "@item().id",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Writing To blob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Collecting Ids",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().globalParameters.BlobStoreName,'output/','data','_',utcnow(),'.csv')",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"body": {
						"value": "@variables('ListOfIds')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			}
		],
		"variables": {
			"data": {
				"type": "Array"
			},
			"ListOfIds": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "VariableToBlob"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-23T23:42:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}