pipeline/Tips4_1.json
{
	"name": "Tips4_1",
	"properties": {
		"description": "How to access output error when in case of pipeline Fail",
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Failed",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"enableStaging": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error",
					"value": {
						"value": "@activity('Copy data1').Error.message",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"BOName": {
				"type": "string",
				"defaultValue": "bo1"
			}
		},
		"variables": {
			"RUNDATE": {
				"type": "String"
			},
			"error": {
				"type": "String"
			},
			"error2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Output_Messages"
		},
		"annotations": [
			"@pipeline().globalParameters.BlobStoreName"
		],
		"lastPublishTime": "2023-03-14T23:58:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}