pipeline/Tips7.json
{
	"name": "Tips7",
	"properties": {
		"description": "If inside if",
		"activities": [
			{
				"name": "ItemNo",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ItemNO",
					"value": {
						"value": "4",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ItemNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('ItemNO'),4)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"BOName": {
				"type": "string"
			}
		},
		"variables": {
			"ItemNO": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Nested_If"
		},
		"annotations": [
			"@pipeline().globalParameters.BlobStoreName"
		],
		"lastPublishTime": "2023-07-31T22:20:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}