pipeline/Tips7_copy1.json
{
	"name": "Tips7_copy1",
	"properties": {
		"description": "If inside if",
		"activities": [
			{
				"name": "ItemNo",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ItemNO",
					"value": {
						"value": "4",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ItemNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(variables('ItemNO'),'4'),true,false)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "itemnoofno",
					"value": {
						"value": "@string(equals(variables('ItemNO'),'4'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ItemNO": {
				"type": "String"
			},
			"itemnoofno": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Nested_If"
		},
		"annotations": [
			"@pipeline().globalParameters.BlobStoreName"
		],
		"lastPublishTime": "2023-07-31T22:20:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}