pipeline/VAR_BLOB_API.json
{
	"name": "VAR_BLOB_API",
	"properties": {
		"description": "Writing  variable value to Blob Storage\n",
		"activities": [
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "item",
					"value": {
						"value": "20",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Writing To blob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://azureappdemostore.blob.core.windows.net/output/','data','_',utcnow(),'.csv')",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"body": {
						"value": "@variables('item')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			}
		],
		"variables": {
			"item": {
				"type": "String"
			}
		},
		"folder": {
			"name": "VariableToBlob"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-23T14:41:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}